/* form {
  display: flex;
} */

.event-entry-overlay {
  background: #505157;
  opacity: 0.82;
  border-radius: 5px;
  padding: 40px;
  max-width: 500px;
  margin: 0 auto;
  z-index: 1;
}

#recipe-entry {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  color: white;
  z-index: 2;
}

