.tabs {
  display: flex;
  background-color: rgb(240, 225, 176);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;  
}

.tab {
  font-size: 1.1em;
  padding: 12px 40px 12px;
  cursor: pointer;
}

.tabs .tab {
  flex: 1;
}

.tab.selected {
  font-size: 1.2em;
  font-weight: bold;
  background:rgb(232, 159, 44);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

label {
  padding: 10px 0 5px;
}

.inputs-wrapper {
  padding: 0 40px 40px;
  flex-direction: column;
  display: flex;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 5px;
}

#user-nav-bar {
  width: 100vw;
  display: flex;
  text-align: center;
}

#sign-up-form button {
  border-radius: 5px;
  }

#sign-up-form {
  font-size: 1.1em;
  /* text-shadow: 1px 1px black; */
  border-radius: 5px;
  max-width: 325px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background:rgb(232, 159, 44);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4), 3px 5px 5px 0 rgba(0, 0, 0, 0.4);
}

#sign-up-form button {
  cursor: pointer;
  margin: 8px 0 0;
  /* background-color: white; */
}


