.hidden {
  display: none;
}

form {
  display: flex;
}

label {
  font-size: 1.1em;
  font-weight: bold;
  padding: 7px 0 2px;
}

#recipe-entry button {
  margin-top: 9px;
  font-size: 1.2em;
  font-weight: bold;
}

body {
  background: url(../assets/img/vault-door-open.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#edit-button {
  color: black;
}

#delete-recipe {
  cursor: pointer;
}

.recipe-title {
  margin: 0 0 15px;
  -webkit-box-shadow: 3px 4px 6px 1px black;
  -moz-box-shadow: 3px 4px 6px 1px black;
  box-shadow: 3px 4px 6px 1px black;
  text-shadow:4px 4px 12px black;
}

#recipe-entry {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  color: white;
  z-index: 2;
}

#recipe-entry-overlay {
  background: #2a2b30;
  opacity: 0.82;
  border-radius: 5px;
  padding: 40px;
  max-width: 500px;
  margin: 0 auto;
  z-index: 1;
}

.vault-recipes {
  color: rgb(255, 201, 25);
  padding: 15px;
  max-width: 400px;
  margin: 20px auto;
  background: #2a2b30;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 3px 4px 6px 1px black;
  -moz-box-shadow: 3px 4px 6px 1px black;
  box-shadow: 3px 4px 6px 1px black;
  text-shadow: 1px 1px black;
}

.vault-recipes div {
  padding: 0 0 5px;
}

.vault-recipes .recipe-button-wrapper {
  margin: 5px 0 0;
  padding: 0;
}

.vault-recipes button {
  margin-right: 5px;
  -webkit-box-shadow: 3px 4px 6px 1px black;
  -moz-box-shadow: 3px 4px 6px 1px black;
  box-shadow: 3px 4px 6px 1px black;
}

.vault-recipes .recipe-readyInMinutes {
  padding-top: 8px;
}

.delete-button {
  cursor: pointer;
}