.auth-container {
  background: url(./assets/landing-image.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 	3.125rem; 
}

.auth-form {
  display: flex;
  flex-direction: column;
  background:rgba(255,255,255, 0.91);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 350px;
  margin: 0 auto;
  padding: 1.25rem;
}

.auth-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.8rem;
}

.auth-submit-button {
  background-color: rgb(28, 28, 48);
  color: white;
  border: none;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.auth-button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 3px;
  background-color: rgb(28, 28, 48);
  border: none;
  cursor: pointer;
}