main {
  background: url(./assets/blurred-map.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.eventcards-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.background-image-overlay {
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background: #2a2b30;
  opacity: 0.38;
}

@media screen and (max-width: 1336px) {
  main {
    height: 100%;
  }  
}



