.eventcards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-left: 315px;
}

.event-card-container {
  background-color:rgba(145, 147, 165, 0.8);
  margin: 10px;

  display: flex;
  flex-flow: column;

}

.card-item {
  margin: 10px;
}

.create-card-item {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.event-create-container { 
  /* margin: 25px;   */
  /* position: sticky; */
  position: fixed;

}

.create-card-heading {
  font-size: 1.2rem;
  font-weight: bold;
}



