.eventcards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-left: 375px;
  padding-top: 35px;
}

.event-card-container {
  background-color:rgba(145, 147, 165, 0.8);
  margin: 10px;
  display: flex;
  flex-flow: column;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}

.event-card-title {
  margin: 0 10px;
  font-weight: bold;
}

label {
  margin-bottom: 3px;
}
.card-item {
  margin: 10px;
}

.created-cards .card-item, .event-card-title {
  text-align: center;
}

.event-card-image {
  /* box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 17px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 1.5px;
}

.card-buttons-wrapper button {
  width: 100%;
  background-color: rgb(35, 35, 54);
  border: none;
  color: white;
  padding: 3px;
  margin: 5px;
}

.card-buttons-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 10px 10px;

}

.create-card-item {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.event-create-container { 
  position: fixed;
  margin: 45px;
}

.create-card-heading {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  /* text-shadow: 1px 0.45px rgba(255, 255, 255, 0.589); */
  /* background-color:rgb(161, 162, 175); */
  /* transition: all 1500ms ease-out; */
}


.create-card-button {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  background-color: rgb(28, 28, 48);
  border: none;
  color: white;
  padding: 5px;
}

.password-label {
  display: flex; 
  justify-content: space-between;
}

/* /// Tool Tip hover /// */
.password-info-icon {
  /* hack to fill transparent back ground color */
  background: white;
  border-radius: 50%;
  height: 1em;
  width: 1em;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 0.9rem;
  line-height: 1.3em;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.password-info-icon:hover .tooltiptext {
  visibility: visible;
  left: 50%;
}
/* /// End of Tool Tip hover CSS /// */

@media screen and (max-width: 681px) {
  .event-create-container { 
    position: relative; 
    margin: 0px auto;
    max-width: 295px;  
  }

  #create-new-event-wrapper {
    padding-top: 25px;
  }

  .eventcards-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 315px;
  }
}


