.event-room-wrapper {
  display: flex;
  font-size: 1.1rem;
}

.event-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: black;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.65);
}

.schedule-container, .chat-wrapper {
  margin: 0.45rem;
  padding: 1.15rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}


.event-room-container {
  background: url(./assets/blurred-map.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.schedule-headings {
  font-weight: bold;
}

.chat-text {
  border: 3px solid blue;
  height: 300px;
  width: 250px;
}

@media screen and (max-width: 650px) {
.event-room-wrapper {
  display: block;
  font-size: 1.1rem;
  }

  .event-room-container {
    height: 100%;
  }

}