.event-card-container {
  background-color:rgba(145, 147, 165, 0.8);
  margin: 10px;
}

.card-item {
  margin: 10px;
}

.create-card-item {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.event-create-container { 
  /* margin: 25px;   */
  position: sticky;

}

.create-card-heading {
  font-size: 1.2rem;
  font-weight: bold;
}
