.event-room-wrapper {
  display: flex;
  justify-content: center;
}

.event-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: rgb(201, 207, 219);
  padding: 15px;
}

.tasks-wrapper, .schedule-container, .chat-wrapper {
  margin: 8px;
  padding: 8px;
  border-radius: 3px;
  background-color: rgba(145, 164, 204, 0.5);
}


.event-room-container {
  background-color: rgb(59, 77, 102);
  height: 100vh;
  width: 100vw;
}

.tasks-username {
  font-size: 18px;
  font-weight: bold;
}

.schedule-headings {
  font-weight: bold;
}

.chat-text {
  border: 3px solid blue;
  height: 300px;
  width: 250px;
}

