.event-room-wrapper {
  display: flex;
  justify-content: center;
}

.event-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
}

.tasks-wrapper, .schedule-container, .chat-wrapper {
  margin: 8px;
  padding: 8px;
  background-color: rgba(39, 43, 51, 0.5);
}




.tasks-username {
  font-size: 18px;
  font-weight: bold;
}

.schedule-headings {
  font-weight: bold;
}

.chat-text {
  border: 3px solid blue;
  height: 300px;
  width: 250px;
}

