.nav-wrapper {
  width: 100%;
	display: flex;
  justify-content: space-between;
  background-color: #272b33;
  /* padding: 25px; */
  font-size: 1.3rem;
  color: white;
}

ul {
  display: flex;
}

.nav-item {
  text-decoration: none;
  padding: 22px;
  
}

.nav-wrapper ul a {
  text-decoration: none;
  color: white;
  }

.nav-left {
  font-weight: bold;
  padding: 22px;
  cursor: pointer;
}

.nav-right {
  height: 100%
}

.nav-item:hover {
  /* border-radius: 3px; */
  /* box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2); */
  text-shadow: 1.75px 1.75px rgba(0, 0, 0, 0.589);
  background-color:rgb(161, 162, 175);
  transition: all 1500ms ease-out;
}