.schedule-location {
  min-width: 175px;

}

.schedule-date {
  min-width: 325px;

}

.schedule-details, .schedule-date, .schedule-location {
  padding: 5px;
  text-align: left;
}

.schedule-details {
  min-width: 175px;
}

.schedule-parent-date {
  display: block;
}

.edit-schedule {
  display: block;
}