.schedule-location {
  min-width: 175px;

}

.schedule-date {
  min-width: 325px;

}

.schedule-details, .schedule-date, .schedule-location {
  padding: 5px;
  text-align: left;
}

.schedule-details {
  min-width: 175px;
}

.schedule-parent-date {
  display: block;
}

.edit-schedule {
  display: block;
}

#Details {
  width: 91%;
}

.edit-schedule-button {
  background-color: rgba(0,0,0,0);
  border: none;
  display:block;
  margin:auto;
}