.tasks-container {
  display: flex;
  flex-direction: column;
  margin: 0.45rem 0.45rem 0.45rem 0.9rem;
  padding: 1.15rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 29%;
}

.user-tasks {
  margin: 0.3rem 0;
}

.tasks-wrapper {
  min-width: 275px;
}

.tasks-username {
    margin: 5px 0;
    font-size: 1.25rem;
    font-weight: bold;  
  }

.clear-completed-button {
  margin: 5px 0;
  font-size: 0.75rem;

  background-color: black;
  color: white;
  border: none;
  padding: 0.35rem;
  border-radius: 3px;
}